In [28]:
import pandas as pd 

df = pd.read_csv('customer_shopping_behavior.csv')

In [29]:
df.head()

   Customer ID  Age Gender Item Purchased  ... Promo Code Used  Previous Purchases Payment Method Frequency of Purchases
0            1   55   Male         Blouse  ...             Yes                  14          Venmo            Fortnightly
1            2   19   Male        Sweater  ...             Yes                   2           Cash            Fortnightly
2            3   50   Male          Jeans  ...             Yes                  23    Credit Card                 Weekly
3            4   21   Male        Sandals  ...             Yes                  49         PayPal                 Weekly
4            5   45   Male         Blouse  ...             Yes                  31         PayPal               Annually

[5 rows x 18 columns]

In [30]:
df.shape

(3900, 18)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [32]:
df.describe(include='all')

        Customer ID          Age Gender  ... Previous Purchases Payment Method  Frequency of Purchases
count   3900.000000  3900.000000   3900  ...        3900.000000           3900                    3900
unique          NaN          NaN      2  ...                NaN              6                       7
top             NaN          NaN   Male  ...                NaN         PayPal          Every 3 Months
freq            NaN          NaN   2652  ...                NaN            677                     584
mean    1950.500000    44.068462    NaN  ...          25.351538            NaN                     NaN
std     1125.977353    15.207589    NaN  ...          14.447125            NaN                     NaN
min        1.000000    18.000000    NaN  ...           1.000000            NaN                     NaN
25%      975.750000    31.000000    NaN  ...          13.000000            NaN                     NaN
50%     1950.500000    44.000000    NaN  ...          25.000000            NaN                     NaN
75%     2925.250000    57.000000    NaN  ...          38.000000            NaN                     NaN
max     3900.000000    70.000000    NaN  ...          50.000000            NaN                     NaN

[11 rows x 18 columns]

In [33]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [34]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [35]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [12]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df = df.rename(columns= {'purchase_amount_(usd)': 'purchase_amount'})

In [13]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [14]:
labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)

In [15]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [16]:
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [17]:
df[['purchase_frequency_days', 'frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [18]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [21]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [22]:
df = df.drop('promo_code_used', axis=1)

In [23]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [24]:
!pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: sqlalchemy in d:\downloads-d\anaconda\anacondainstallation\lib\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in d:\downloads-d\anaconda\anacondainstallation\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\downloads-d\anaconda\anacondainstallation\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.7 MB ? eta -:--:--
   ------- -------------------------------- 0.5/2.7 MB 1.6 MB/s eta 0:00:02
   ----------- ---------------------------- 0.8/2.7 MB 1.5 MB/s eta 0:00:02
   ------------------- -------------------- 1.3/2.7 MB 1.6 MB/s eta 0:00:01
   ----------------------- ---------------- 1.6/2.7 MB 1.7 MB/s eta 0:00:01
   --------------------------- ------------ 1.8/2.7 MB 1.7 MB/s eta 0:00:01
   ------------------------------ --------- 2.1/2.7 MB 1.6 MB/s eta 0:00:01
   -------------------------------------- - 2.6/2.7 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 1.6 MB/s  0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [27]:
from sqlalchemy import create_engine

# Step 1: Connect to PostgreSQL
# Replace placeholders with your actual details
username = "postgres"      # default user
password = "postgres123" # the password you set during installation
host = "localhost"         # if running locally
port = "5432"              # default PostgreSQL port
database = "customer_behaviour_analysis"    # the database you created in pgAdmin

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# Step 2: Load DataFrame into PostgreSQL
table_name = "customer"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'customer' in database 'customer_behaviour_analysis'.